@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");

body{
    margin :0;
    background-color: #000000;
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 900;
    font-size: 20px;
}
header {
    background-color: #000000;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    width: 50px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header nav {
    flex: 1;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 40px #000000;
    padding-bottom:2px;
}

header nav:first-child {
    justify-content: flex-start;
}

header nav:last-child {
    justify-content: flex-end;
}

header nav a {
    color: #fff;
    margin: 5px 40%;
    text-decoration: none;
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 900;

}

header nav a:hover {
    color: #ff0000;
}
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
.banner {
    height: 110vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.1s;
}
.banner .bg-1{
    background-image: url('img/0.webp');
}
.banner .bg-2{
    background-image: url('img/1.webp');
}
.banner .bg-3{
    background-image: url('img/2.webp');
}
.banner .bg-4{
    background-image: url('img/3.webp');
}
.banner .bg-5{
    background-image: url('img/4.webp');
}
.banner .bg-6{
    background-image: url('img/.webp');
}
.banner .bg-7{
    background-image: url('img/6.webp');
}
.banner .bg-8{
    background-image: url('img/7.webp');
}
.banner .bg-9{
    background-image: url('img/.webp');
}
.banner h1 {
    position: absolute;
    top: 0; /* Centering the title */
    padding-top: -20vh;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 900;
    color: #fff;
}
.intro{
    min-height: 50vh;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.intro p{
    width: 700px;
    max-width: 100%;
    text-align: center;
    font-size: 1rem;
}
.intro button{
    margin-top:10px;
    margin-botom: 10px;
    background-color: rgb(0, 0, 0);
    padding: 10px 50px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #fff;
    font-family: Poppins;
    font-weight: 900;
    font-size:1rem;
    cursor:pointer;
    box-shadow: 0 0 10px #ff0000;
}
.intro button:hover {
    background-color: rgba(238, 86, 86, 0.78); /* Slightly darker on hover */
    box-shadow: 0 0 10px #ff0000;
}
.animation-show{
    transform: translateY(50px);
    opacity: 0;
    transition: 0.7s;
}
.active .animation-show{
    transform: translateY(0);
    opacity: 1;
}
.animation-show:nth-child(2){
    transition-delay: 0.3s;
}
.animation-show:nth-child(3){
    transition-delay: 0.6s;
}
.animation-show:nth-child(4){
    transition-delay: 0.9s;
}
.library {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; /* Add some space between the videos */
    text-align: center;
    color: #fff;
    margin-left:100px;
    margin-right:100px;
}

.library iframe {
    width: 100%; /* Make the video take the full width of its container */
    height: auto; /* Maintain aspect ratio */
    aspect-ratio: 16 / 9; /* Ensure the videos keep their 16:9 aspect ratio */
    display: block; /* Ensure they are block elements */
    margin: 0 auto; /* Center the iframes */
}

.biglogo {
    width: 250px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.about {
    padding: 50px;
    color: #eee;
    text-align: center;
    background-image:url("img/about1.webp");
    background-size:100% auto;
    background-repeat: no-repeat;

}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 800px;
    font-weight:900;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding-left:10px;
    padding-right:10px;
    background-color: rgba(0, 0, 0, 0.53);
    box-shadow: 0 0 30px #000000;

}
.links-container {
    margin-top: 20px; /* Add some spacing from the title */
    display: flex;
    flex-direction:column;
    gap: 20px; /* Space between the buttons */
    justify-content: center;
    align-items: center;
    position:relative;
    z-index:10 ;
}

.banner-link button {
    background-color: rgba(30, 31, 33, 0.44);
    padding: 10px 50px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.banner-link button:hover {

    box-shadow: 0 0 20px #000000;
}


    @media screen and (max-width: 768px) {

        .body {
            font-weight: bold;
        }
        .about p{
            font-weight: bold;
        }

        .banner h1 {
            font-size: 3rem;
            top: 3vh;
            font-weight:bold;
        }

        .library {
            grid-template-columns: 1fr; /* Stack videos vertically */
            margin-left: 10px;
            margin-right: 10px;
        }

        .library iframe {
            width: 100%; /* Adjust width to full */
        }
        header nav a {
            color: #fff;
            margin: 5px 20%;
            text-decoration: none;
            font-weight:bold;

        }
        .banner-link button {
            font-weight: bold;
        }
    }
@media screen and (min-width: 1024px) {
    .animation-show {
        transform: translateY(0);
        opacity: 1;
        transition: none; /* No transition for instant visibility */
    }
}

